/*****************CONTACTS****************/
.contacts-wrap {
    background-color: #FF9D40;
}

.contacts {
    height: 370px;
    background-color: #FF9D40;
}

    .contacts ul {
        text-align: center;
        padding-top: 20px;
    }

        .contacts li {
            display: inline-block;
            width: 145px;
            height: 100px;
        }

             .contact {
                font-size: 45px;
                color: #fff;
             }

             .contact:before {
                 border: 1px solid #fff;
                 border-radius: 50%;
                 padding: 20px;
             }

             .contact:hover:before { background-color: #FFAC4F; }

                 .info {
                     font-size: 13px;
                     font-family: "Century Gothic";
                 }









/**************CONTACTS END*************/