/*****************CONTACTS****************/
.contacts-wrap {
    background-color: orange;
}

.contacts {
    height: 370px;
    background-color: #FF9D40;
}
/**************CONTACTS END*************/