/*************** FOOTER **************/
footer {
    background-color: black;
}

    .footer-content {
        height: 110px;
        background-color: #1F191A;
    }
/*************** FOOTER END**************/