/*****************PROJECTS****************/
.projects-wrap {
    background-color: #EEE;
}

    .projects {
        padding-bottom: 100px;
    }

    .projects li {
        border: orange dotted 1px;
        box-sizing: border-box;
        width: 50%;
        height: 300px;
        float: left;
    }
/*****************PROJECTS END****************/