/*****************PROJECTS****************/
.projects-wrap {
    background-color: gray;
}

    .projects {
        height: 870px;
        background-color: #EEE;
    }
/*****************PROJECTS END****************/