/*****************PROJECTS****************/
.projects-wrap {
    background-color: #eee;
}

    .projects {
        padding-bottom: 100px;
    }

    .projects li {
        float: left;
        width: 50%;
        height: 300px;
        border: orange dotted 1px;
        box-sizing: border-box;
    }
/*****************PROJECTS END****************/