/*****************SKILLS****************/
.skills {
    background-color: #FFF;
    padding-bottom: 40px;
}

/*--- Button group --*/
.btn-group {
    border: solid #ccc 1px;
    border-radius: 4px;
    margin-top: 47px;
}

    .btn-group button {
        background: none;
        border: none;
        outline: none;
        padding: 6px 12px;
        font-size: 17px;
        color: #333;
        cursor: pointer;
    }

    .btn-group button:first-child { border-radius: 4px 0px 0px 4px; }
    .btn-group button:last-child { border-radius: 0px 4px 4px 0px; }

    .btn-group button:not(:first-of-type) {
        border-left: solid #ccc 1px;
    }

    .btn-group button.active {
        background-color: #ebebeb;
        border-color: #adadad;
    }
/*--- Button group end --*/

.skills-icons-list {
    padding-left: 45px;
}

    .skills-icons-list li {
        width: 140px;
        height: 80px;
        float: left;
        box-sizing: border-box;
        border-radius: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
    }

    .skills-icons-list li:hover { border: 1px solid #E57700; }

        .skills-icons-list li a {
            opacity: .6;
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(1);
            -ms-filter: grayscale(1);
            -o-filter: grayscale(1);
            filter: grayscale(1);
        }

    #skills-text-list div {
        background-color: rgba(194, 186, 179, 0.5);
        width: 796px;
        padding: 2px 15px;
        margin: 0 auto 5px auto;
        border-radius: 3px;
    }

        .skills-title {
            display: block;
            color: #EE5315;
            font-size: 14px;
            font-weight: bold;
        }

        .skills-type {
            color: #333;
            font-size: 11px;
            font-weight: bold;
        }

/*****************SKILLS END****************/



