/*************** HEADER **************/
header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 99999999999;
}

.header-menu {
    height: 85px;
}

.header-menu #logo {
    float: left;
    background: url("../images/lamp.png") no-repeat;
    background-size: 80%;
    width: 75px;
    height: 65px;
    margin: 10px 0;
}

.header-menu ul {
    width: 765px;
    float: right;
    height: 17px;
    padding: 34px 0;
    margin-left: 20px;
}

.header-menu li {
    position: relative;
    float: left;
    margin-right: 35px;
}

.header-menu li a {
    display: block;
    color: #8CC63F;
    font: bold 16px Arial;
    text-transform: uppercase;
}

.header-menu li.selected-item a:after,
.header-menu li.selected-item a:before {
    color: #F89C49;
    position: absolute;
    top: -1px;
}

.header-menu li.selected-item a:before {
    content: "{";
    left: -10px;
}

.header-menu li.selected-item a:after {
    content: "}";
    right: -10px;
}

.header-menu li a:hover { color: #F89C49; }
/*************** HEADER END**************/

/*************** LANDING PAGE **************/
.landing-page {
    width: 100%;
    height: 720px;
    background: #E4E2D6 url("../images/computer2.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}

.acquaintance {
    position: relative;
    top: 235px;
    width: 480px;
    -webkit-transform: perspective(630px) rotateY(17deg) skewX(9deg);
    font: normal 22px Arial;
    color: #333;
    line-height: 40px;
}

@media screen and (max-width: 1400px) { .acquaintance { padding-left: 8%; width: 450px; } }
@media screen and (max-width: 870px) {  .acquaintance { padding-left: 8%; width: 420px; } }
@media screen and (max-width: 780px) {  .acquaintance { padding-left: 5px; -webkit-transform: none; }}

.email-me {
    display: inline-block;
    width: 210px;
    padding: 15px 30px;
    background-color: #ee5315;
    color: #fff;
    border-radius: 2px;
    font: normal 22px Arial;
    text-align: center;
}


.email-me-vertical-animation:before,
.email-me-vertical-animation:after,
.email-me-horizontal-animation:before,
.email-me-horizontal-animation:after{
    content: '';
    background: white;
    position: absolute;
    transition: all .5s;
}

.email-me-vertical-animation:before,
.email-me-vertical-animation:after {
    width: 1px;
    height: 0px;
}

.email-me-horizontal-animation:before,
.email-me-horizontal-animation:after {
    width: 0px;
    height: 1px;
}


.email-me-vertical-animation:after,
.email-me-horizontal-animation:after{
    right: 0px;
    bottom: 0px;
}

.email-me-vertical-animation:hover:before,
.email-me-vertical-animation:hover:after {
    height: 100%;
}

.email-me-horizontal-animation:hover:before,
.email-me-horizontal-animation:hover:after {
    width: 100%;
}


@media screen and (max-width: 780px) {  .email-me { right: 8%; }}

.email-me-vertical-animation {
    position: absolute;
    right: 20%;
    bottom: 140px;
}

.email-me:hover { background-color: #D3470F; }

/*************** LANDING PAGE END**************/

/*************** LOGO_SLIDER**************/
.logo-slider {
    height: 160px;
    width: 100%;
    background-color: orange;
}
/*************** LOGO_SLIDER END**************/


/*****************ABOUT****************/
.about-wrap {
    background-color: papayawhip;
}

.about {
    height: 1000px;
    background-color: #FFF;
}
/*****************ABOUT END****************/

/*****************FACTS****************/
.facts-wrap {
    background-color: lightgreen;
}

.facts {
    height: 510px;
    background-color: #6AC72A;
}
/*****************FACTS END****************/

/*****************SKILLS****************/
.skills-wrap {
    background-color: antiquewhite;
}

.skills {
    height: 1080px;
    background-color: #FFF;
}
/*****************SKILLS END****************/

/*****************PROJECTS****************/
.projects-wrap {
    background-color: gray;
}

.projects {
    height: 870px;
    background-color: #EEE;
}
/*****************PROJECTS END****************/

/*****************CONTACTS****************/
.contacts-wrap {
    background-color: orange;
}

.contacts {
    height: 370px;
    background-color: #FF9D40;
}
/**************CONTACTS END*************/

/*************** FOOTER **************/

footer {
    background-color: black;
}

.footer-content {
    height: 110px;
    background-color: #1F191A;
}
/*************** FOOTER END**************/

.center {
    margin: 0 auto;
    width: 870px;
}